@media screen and (max-width:770px) {

   .coin-detail-redirect-icon{
    display: none;
   }

    .grid-parent {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2rem;
        padding: 2rem;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        width: 80vw;
    }

    .grid-parent-heading {
        display: none;
    }

    .image-container{
        flex-direction: column;
    }

    .column {
        flex: 100%;
        width: 100%; 
    }

    .column div::before{
        font-size: 2rem;
    }

}


@media screen and (max-width:520px){
    .column div::before{
        font-size: 1.5rem;
    }
}

@media screen and (max-width:400px) {
    .grid-parent {
        width: 95vw;
    }
}